<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{$title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="个人博客,PHP,thinkphp5,前端" />
    <meta name="description" content="个人博客,PHP,thinkphp5,前端" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <link rel="shortcut icon" href="__PUBLIC__/imgs/admin.png" >
    <link href="__PUBLIC__/style/lady.css" type="text/css" rel="stylesheet" />
    <script type='text/javascript' src='__PUBLIC__/style/ismobile.js'></script>
</head>

<body>
<div class="ladytop">
    <div class="nav">
        <div class="left"><a href="/"><img src="__PUBLIC__/imgs/hunshang.png" alt="wed114婚尚"></a></div>
        <div class="right">
            <div class="box">
                {foreach $cates as $cate}
                    {if condition="$cate.catename=='首页'"}
                        <a href="/">{$cate.catename}</a>
                    {else}
                        <a href="/index/cate/{$cate.id}">{$cate.catename}</a>
                    {/if}
                {/foreach}
            </div>
        </div>
    </div>
</div>

<div class="hotmenu">
    <div class="con">热门标签：{foreach $tags as $tag}<a href="/index/search?key={$tag.tagname}">{$tag.tagname|default='暂无标签'}</a>{/foreach} </div>
</div>

<!--顶部通栏-->


<div class="position"></div>